
{{#if eaten}}

<div class="row">
    <p class="item ate mx-auto">{{burger_name}}</p>
	<button class="button delete mx-auto" data-id={{id}}>Get rid of these...</button>
</div>

{{else}}

<div class="row">
    <p class="item eat mx-auto">{{burger_name}}</p>
	<button class="button eatMe mx-auto" data-id={{id}}>Let's Eat!</button>
</div>

{{/if}}